<div class="main-container" *ngIf="selectedGroup">
    <div class="info-container">
        <p>{{selectedGroup.name}}</p>
    </div>

    <div class="chat-container" #chatContainer [scrollTop]="chatContainer.scrollHeight">
        <div *ngFor="let message of messages" class="message" [ngClass]="{'own-message': message.emitter.id == loginService.getUserId()}">
            <span class="emitter" *ngIf="message.emitter.id != loginService.getUserId()">{{message.emitter.name}} {{message.emitter.surname}}</span>
            <div class="text">{{message.text}}</div>
        </div>
    </div>

    <div class="message-container">
        <input matInput [(ngModel)]="messageToSend" type="text" placeholder="Escribe un mensaje...">
        <button (click)="sendMessage()">
            <mat-icon class="material-icons-outlined">send</mat-icon>
        </button>   
    </div>

    <ngx-loading [show]="loading"></ngx-loading>
</div>