<div class="main-container" *ngIf="selectedGroup">
    <div class="info-container">
        <p>{{selectedGroup.name}}</p>
    </div>

    <div class="chat-container">
        <div *ngFor="let message of messages" class="message">
            {{message}}
        </div>
    </div>

    <div class="message-container">
        <input matInput [(ngModel)]="messageToSend">
        <button (click)="sendMessage()">
            <mat-icon class="material-symbols-outlined">send</mat-icon>
        </button>   
    </div>

    <ngx-loading [show]="loading"></ngx-loading>
</div>