.container {
    min-width: 350px;
    max-width: 500px;
    width: 100%;

    .description {
      margin-bottom: 20px;
    }

    .buttons {
      text-align: right;

      button {
          margin-left: 10px;
      }
    }
} 