.container {
    min-width: 350px;
    max-width: 700px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    .title{
      margin-left: 20px;
    }
    .description {
      margin-bottom: 20px;
      margin: 20px;
    }

    .buttons {
      text-align: right;

      button {
          margin-left: 10px;
          margin-right: 10px;
      }
    }
} 