<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div class="container">
    <div class="form register-form">
      <h2>Registrate y encuentra a tu compañero de TFG!</h2>
      <form method="post" [formGroup]="formularioRegistro" (ngSubmit)="onSignUpClicked()">
        <div class="form-group" id="formularioRegistro">
          <input type="email" id="EmailRegistro" placeholder="Email">
          <input type="password" id="PasswordRegistro" placeholder="Contraseña">
          <input type="name" id="NameRegistro" placeholder="Nombre">
          <input type="surname" id="Surname" placeholder="Apellido">
          <input type="degree" id="Degree" placeholder="Grado">
          <input type="description" id="Description" placeholder="Descripción">
          <button class="button" type="submit" (click)="onSignUpClicked()">Sign up</button>
        </div>
      </form>
    </div>

    <div class="divider"></div>
    <div class="logo-login-container">
      <div class="image-container">
        <img src=".\.\assets\images\connecTFG_logo-removeb.png" alt="logo">
      </div>
      <div class="form login-form">
        <h2>Bienvenido de vuelta a tu búsqueda!</h2>
        <form method="post" [formGroup]="formularioLogin" (ngSubmit)="onSignInClicked()">
          <div class="form-group" id="formularioLogin">
            <input type="text" formControlName="email" placeholder="Email">
            <input type="password" formControlName="password" placeholder="Contraseña">
            <button class="button" type="submit" (click)="onSignInClicked()">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
