.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  background: linear-gradient(135deg, var(--primary-100), var(--primary-200), var(--primary-300));
}
img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}

.form {
  width: 400px;
  height: fit-content;
  background-color: var(--bg-100);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;

  h2 {
    margin-top: 0;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }

  button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--bg-200);
    color: black;
    border: 1px solid var(--primary-100) ;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-300);
    }
  }
}

.register-form {
  max-width: fit-content;
  margin: 0 auto;
  h2{
    text-align: center;
  }
  .button{
    align-content: end;
  }
}

.login-form {
  max-width: fit-content;
  align-items: center;
  margin: 0 auto;
  h2{
    text-align: center;
  }
}
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.logo-login-container{
  margin-top: auto;
  margin-bottom: 75%;
  margin-right: auto;
  margin-left: auto;
}
.image-container img {
  width: 75%;
  height: 75%;
}
.divider {
  height: 100%;
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}
