<html>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="registro">
			<h1>Crea tu Cuenta</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>o usa tu email para registrarte</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Registrar</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		
		<form action="inicioSesion">
			<img src="./assets/Logo.png" alt="logo">
			<h1>Inicia sesión con tus redes sociales</h1>
			<div class="social-container">
				<a href="https://www.linkedin.com/login" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>o utiliza tu cuenta</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Olvidaste tu contraseña?</a>
			<button class="button" id="login">Iniciar Sesión</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bienvenido!</h1>
				<p>Para seguir en tu búsqueda, por favor ingresa tus credenciales</p>
				<button class="ghost" id="signIn">Iniciar Sesión</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hola, compañero!</h1>
				<p>Ingresa tus datos para poder empezar tu búsqueda con nosotros</p>
				<button class="ghost" id="signUp">Registrarse</button>
			</div>
		</div>
	</div>
</div>
</html>
