.main-container{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    

    mat-drawer-container{
        height: calc(100% - 9.5rem);
        width: 100%;

        border-radius: 1rem;
        border: 2px solid var(--primary-100);

        mat-drawer{
            height: auto;

            padding: 0.5rem;

            background-color: var(--bg-200); 

            border-right: 2px solid var(--bg-100);
            .sidenav-header{

                display: flex;
                align-items: center;

                input{
                    width: 70%;
                }

                button {
                    position: absolute;
                    right: 0;

                    background-color: transparent;
                    border-color: transparent;
                    color: var(--text-100);

                    font-size: large;
                    font-weight: 530;

                    transition: all 0.3s ease-in-out;
                }

                button:hover{
                    cursor: pointer;
                    color: var(--primary-100);
                }

            }

            .groups-container{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;

                row-gap: 0.25rem;

                .group{
                    background-color: transparent;
                    border-color: transparent;
                    border-radius: 0.25rem;

                    padding: 0.25rem;

                    transition: all 0.3s ease-in-out;

                    display: flex;
                    align-items: center;
                }

                .group:hover{
                    //filter: brightness(80%);
                    background-color: var(--primary-200);
                    color: var(--bg-100);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                    *{
                        color: var(--bg-100);
                    }
                }

                .groupSelected{
                    background-color: var(--primary-100);
                    color: var(--bg-100);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                    *{
                        color: var(--bg-100);
                    }
                }

                .group-button{
                    background-color: transparent;
                    border: transparent;

                    height: 100%;
                    width:90%;

                    
                    color: var(--text-100);
                    font-weight: 520;
                }

                .more_vert{
                    background-color: transparent;
                    border-color: transparent;

                    position: absolute;
                    right: 0;
                }

                .more_vert:hover{
                    cursor: pointer;
                }
            }
        }

        mat-drawer-content{
            overflow: hidden;
            background-color: var(--bg-200);
        }
    }
}

::ng-deep.mat-menu-panel{
    button{
        display: flex;
        align-items: center;

        height: 1.75rem;
        
        span{
            font-weight: 500;
        }

        mat-icon{
            color: var(--accent-100) !important;
        }
    }
}