<div class="main-container">
    <mat-drawer-container>
        <mat-drawer mode="side" opened>
            <div class="sidenav-header">
                <input type="text">
                <button (click)="onCreateGroup()">
                    <mat-icon class="material-icons-outlined">add_circle_outline</mat-icon>
                </button>
            </div>

            <div class="groups-container">
                <div class="group" *ngFor="let group of groups" [ngClass]="{'groupSelected' : selectedGroup && selectedGroup.id == group.id}">
                    <button (click)="onChangeSelectedGroup(group)" class="group-button">
                        {{group.name}}
                    </button>

                    <button class="more_vert" [matMenuTriggerFor]="menu">
                        <mat-icon class="material-icons-outlined">more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editGroup(group)">
                            <mat-icon class="material-icons-outlined">edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="deleteGroup(group.id)">
                            <mat-icon class="material-icons-outlined">delete</mat-icon>
                            <span>Borrar</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <app-grupo-chat></app-grupo-chat>
        </mat-drawer-content>
    </mat-drawer-container>

    <ngx-spinner [showSpinner]="loading" type="ball-scale-multiple"></ngx-spinner>
</div>