<div class="main-container">
    <mat-drawer-container>
        <mat-drawer mode="side" opened>
            <div class="sidenav-header">
                <input type="text">
                <button (click)="onCreateGroup()">+</button>
            </div>

            <div class="groups-container">
                <button *ngFor="let group of groups" (click)="onChangeSelectedGroup(group)">{{group.name}}</button>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <app-grupo-chat></app-grupo-chat>
        </mat-drawer-content>
    </mat-drawer-container>
</div>