html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::ng-deep .mat-dialog-container {
  color: #1566c9;
  background-color: var(--bg-100);
}

body {
  overflow-x: hidden;
  border-color: #1566c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-card {
  min-width: 60rem;
  max-width: 60rem;
  background-color: var(--bg-200);
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  flex-direction: row;
  margin-bottom: 20px;
}

.commentController {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 80rem;
  align-items: center;

  .comment-card {
    .card-footer {
      .p {
        display: flex;
        align-items: end;
      }
    }
  }
}

.input {
  min-width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  comment-input {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 16px;
    line-height: 1.4;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.2s;
  }
}

.input input {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
}

.input button {
  background-color: #1877f2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input button:hover {
  background-color: #1566c9;
}

mat-card {
  background-color: rgba(var(--accent-200));
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-100);
  margin-bottom: 20px;
  text-align: center;
  border-radius: 2px;
}

.card-header {
  padding: 5px;
  border-bottom: 1px solid #c1dff0;
  text-align: start;

  p {
    font-size: 18px;
    font-weight: bold;
    color: var(-text-100);
  }
}

.card-content {
  padding: 15px;
  border-bottom: 1px solid #c1dff0;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12px;
  text-align: start;

  p {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 12px;
    margin: 0 auto;
    align-self: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
  }
}

.likear {
  background-color: transparent;

  .material-icons-outlined {
    color: var(--accent-100);
    fill: var(--accent-100);
  }

  .material-icons-outlined:hover {
    fill: var(--accent-100);
    color: var(--accent-100);
    background-color: transparent;
    cursor: pointer
  }
}

.likear:hover {
  fill: none;
  color: transparent;
  background-color: transparent;
}

.card-footer {
  text-align: end;
}

.list-group-item {
  border: none;
  margin-bottom: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.list-group-item .comment-message {
  font-size: 18px;
  font-weight: bold;
}

.list-group-item .comment-author {
  margin-right: 10px;
}

.list-group-item .comment-author {
  margin-right: 10px;
}
