<html>

<body>
  <div class="commentController" ng-controller="commentController">
    <mat-card-header>
      <mat-card-title>{{post.title}}</mat-card-title>
    </mat-card-header>
    <div class="comment-card" *ngFor="let comment of post.comments">
      <mat-card class="card">
        <mat-card-header class="card-header">
          <p>{{comment.author.name}} {{comment.author.surname}}</p>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>{{comment.message}}</p>
        </mat-card-content>
          <mat-card-actions>
            <button mat-button class="likear">
              <mat-icon class="material-icons-outlined" >favorite</mat-icon>
            </button>
          </mat-card-actions>
        <mat-card-footer class="card-footer">
          <p>{{comment.createdAt| date:'medium'}}</p>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="input">
      <input class="comment-input" [(ngModel)]="commentToSend" placeholder="Haz tu comentario">
      <button (click)="createComment()">
        <mat-icon color="red" class="material-icons-outlined">comment</mat-icon>
      </button>
    </div>
  </div>
</body>

</html>
