<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Feed</title>
</head>

<body ng-controller="FeedController">
  <div class="panel">
    <button mat-button class="createPost" (click)="onCreate()">Create your Post</button>
  </div>
  <p>
    Filter your TFG Feed
    <mat-button-toggle-group aria-label="Font Style">
      <mat-button-toggle value="Open">OPEN</mat-button-toggle>
      <mat-button-toggle value="Closed">CLOSED</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
  <hr />
  <h1>Tu Feed</h1>
  <div *ngFor="let post of posts | paginate: { itemsPerPage: pageSize, currentPage: pageNumber }">
    <mat-card class="post-card">
      <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{post.content}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="likear">LIKE</button>
        <button mat-button class="comentar" (click)="onShowComments(post)">COMMENT</button>
        <button mat-button class="postular" (click)="onPostularClicked(post)">POSTULAR</button>
      </mat-card-actions>
      <mat-card-footer>
        <small>{{post.createdAt | date:'medium'}}</small>
      </mat-card-footer>
    </mat-card>
  </div>
  <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10]" [pageIndex]="pageNumber" [pageSize]="pageSize"
    [length]="totalElements" showFirstLastButtons></mat-paginator>
</body>

</html>
