.publication-card {
  margin-bottom: 20px;
  background-color: #ffff0091 !important;
}

.panel {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.panel button {
  margin: 0 auto;
}

p {
  text-align: justify;
}

mat-button-toggle-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 175px;
  margin: 0 auto;
}

mat-form-field {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.mat-button-toggle {
  font-size: 12px;
  height: 40px;
  line-height: 24px;
  padding: 0 12px;
}

.body {
  background-color: blue;
  align-items: center;
  justify-content: center;
}

div[ng-controller='FeedController'] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  margin-top: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.createPost {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: var(--bg-300);
  align-items: center;
  float: initial;
  align-self: center;
  border-radius: 6.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 0.7em 1.5em;
}

.temp {
  background: lightblue;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-header {
  margin-top: 2px;
  text-align: center;
}

.mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}

.card-img {
  width: 100%;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.closed-post {
  border-color: 3px solid red;
}

.post-card {
  background-color: var(--bg-200);
  margin-bottom: 32px;
  position: flex;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: justify;
  text-justify: inter-word;
  border: 3px solid var(--primary-200);
}

.no-image {
  filter: contrast(5) !important;
}

.follow-buttons {
  text-align: right;
}

.publication-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}

.publication-avatar img {
  width: 50px;
  height: 50px;
}

.publication-user {
  color: #593196;
  display: block;
}

.publication-user h3 {
  margin-bottom: 0px;
}

.publication-text {
  color: black;
}

.publication-my {
  border: 2px;
  border-color: #593196;
  border-style: solid;
}

.button-trash {
  border-radius: 6.25rem;
  height: 2.4375rem;
  margin-top: 0.3125
}

.span-trash {
  margin-top: 5px;
}

.postular {
  background-color: var(--primary-200);
  align-items: center;
  margin-right: 5;
  border-radius: 6.25rem;
  border-width: 1rem;
  border-color: black;
}
.postulado{
background-color: var(--bg-300);
align-items: center;
margin-right: 5;
border-radius: 6.25rem;
border-width: 1rem;
border-color: black;
}
.postular:hover {
  background-color: var(--primary-300);
  border-color: black;
  cursor: pointer
}

.likear {
  .material-icons-outlined {
    color: var(--accent-100);
    background-color: transparent;
  }

  .material-icons-outlined:hover {
    color: var(--accent-100);
    background-color: transparent;
    cursor: pointer
  }
}

.likear:hover {
  background-color: transparent;
}

.comentar {
  .material-icons-outlined {
    border-radius: 6.25rem;
    background-color: var(--bg-200)
  }
}

.comentar {
  .material-icons-outlined:hover {
    color: var(--primary-200);
    cursor: pointer
  }
}

.panel {
  height: 30px;
}
.body{
  .SearchPost{
    width: 20rem;
    height: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }
}
.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
}

.filtra {
  text-align: center;
  align-content: center;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

h1 {
  text-align: center;
}

.mat-mdc-paginator-container {
  display: flex;
  align-items: center;
  justify-content: center !important;
  padding: 0 8px;
  width: 100%;
}
.paginator{
  align-content: center;
  display: flex;
  justify-content: center;

}