.main-container{
  mat-toolbar > mat-toolbar-row{
    height: auto;
    background-color: white;

    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--bg-300);

    .left{
      width: 20%;
      display: flex;
      text-align: center;
      justify-content: center;
      img{
        height: 5rem;
      }
    }

    .center{
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      

      mat-form-field{
        width: 20rem;
      }

      .under{
        text-align: center;

        button{
          width: auto;
        }

        /* button:hover{
          span{
            border-bottom: 1px solid var(--text-100);
          }
        } */
      }
    }

    .right{
      width: 20%;
      display: flex;
      justify-content: right;
    } 
  }
}

::ng-deep.mat-badge-content {
  background-color: var(--accent-100);
  color: var(--bg-100);
}