<div class="main-container" *ngIf="loginService.isAuthenticated()">
    <mat-toolbar>
        <mat-toolbar-row>
            <div class="left">
                <img src="../../../assets/images/connecTFG_logo_small.jpeg">
            </div>

            <div class="center">
                <div class="input-container">
                    <mat-form-field class="SearchBar">
                        <input type="string" matInput placeholder="Search" name= "SearchBar">
                        <button matSuffix mat-button></button>
                        </mat-form-field>
                </div>

                <div class="under">
                    <button mat-button routerLink="/feed">
                        <span [ngStyle]="{
                            'border-bottom': currentUrl.includes('/feed') ? '2px solid var(--accent-100)' : 'none'
                        }">
                            Inicio
                        </span>
                    </button>
                    <button mat-button routerLink="/conexiones">
                        <span [ngStyle]="{
                            'border-bottom': !currentUrl.includes('/feed') ? '2px solid var(--accent-100)' : 'none'
                        }">
                            Conexiones
                        </span>
                    </button>
                </div>
            </div>

            <div class="right">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon class="material-symbols-outlined">person</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/profile">
                      Profile
                    </button>
                    <button mat-menu-item>
                      Settings
                    </button>
                    <button mat-menu-item routerLink="/profile">
                        About Us
                      </button>
                    <button (click)="loginService.logout()" routerLink="/login" mat-menu-item>
                      Logout
                    </button>
                  </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>