.main-container{
  mat-toolbar > mat-toolbar-row{
    height: 120px;
    background-color: white;

    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid var(--bg-300);

    .left{
      width: 20%;
      display: flex;
      text-align: center;
      justify-content: center;
      img{
        height: 5rem;
      }
    }

    .center{
      width: 60%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-direction: column;      

      .input-container{
        width: 20rem;
        height: 2rem;

        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

        mat-icon{
          position: relative;

          left: 2rem;
        }

        input{
          height: 100%;
          width: 100%;

          padding-left: 2.5rem;
          padding-right: 2.5rem;

          border-radius: 1rem;

          margin-right: 1rem;

          caret-color: var(--accent-100);
        }

      }

      .under{
        text-align: center;

        button{
          width: auto;
        }
      }
    }

    .right{
      width: 20%;
      display: flex;
      justify-content: right;
    } 
  }
}

::ng-deep.mat-badge-content {
  background-color: var(--accent-100);
  color: var(--bg-100);
}

button.mat-menu-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #000000;
  font-size: 14px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.mat-menu-item:hover {
  background-color: #f3f3f3;
}

button.mat-menu-item:focus {
  outline: none;
  background-color: #f3f3f3;
}
