<div class="main-container">
    <mat-toolbar>
        <mat-toolbar-row>
            <img src="../../../assets/images/connecTFG_logo_small.jpeg">

            <div class="center">
                <mat-form-field>
                    <input matInput placeholder="Buscador" type="text" name="buscador">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>

                <div class="under">
                    <button mat-button routerLink="/feed">
                        <span>
                            Inicio
                        </span>
                    </button>
                    <button mat-button routerLink="/conexiones">
                        <span>
                            Conexiones
                        </span>
                    </button>
                </div>
            </div>

            <div class="right">
                <button mat-button><mat-icon>favorite_outline</mat-icon></button>
                <button mat-button><mat-icon>person_outline</mat-icon></button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>