<div class="main-container" *ngIf="loginService.isAuthenticated()">
    <mat-toolbar>
        <mat-toolbar-row>
            <div class="left">
                <img src="../../../assets/images/connecTFG_logo_small.jpeg">
            </div>

            <div class="center">
                <mat-form-field>
                    <input matInput placeholder="Buscador" type="text" name="buscador">
                    <mat-icon matPrefix class="material-symbols-outlined">search</mat-icon>
                </mat-form-field>

                <div class="under">
                    <button mat-button routerLink="/feed">
                        <span>
                            Inicio
                        </span>
                    </button>
                    <button mat-button routerLink="/conexiones">
                        <span>
                            Conexiones
                        </span>
                    </button>
                </div>
            </div>

            <div class="right">
                <button mat-button>
                    <mat-icon class="material-symbols-outlined" [matBadge]="notifications.length" routerLink="/notifications">notifications</mat-icon>
                </button>
                <button mat-button><mat-icon class="material-symbols-outlined">person</mat-icon></button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>