<div class="main-container">
    <div *ngFor="let notification of notifications" class="notification">
        {{'notificaciones.' + notification.type | translate: {emitterName: notification.emitter.name, emitterSurname: notification.emitter.surname} }}

        <button mat-button (click)="deleteNotification(notification.id)">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </div>

    <div *ngIf="notifications.length <= 0">
        {{'notificaciones.noNotificaciones' | translate}}
    </div>
</div>