.main-container{
    margin: 1rem;

    height: 71vh;

    display: flex;

    .applicants-container{

        h3{
            color: var(--primary-100);
        }
        
        width: calc(70% - 1rem);
        height: calc(100%);

        background-color: var(--bg-200);
        border-radius: 1rem;
        border: 2px solid var(--primary-100);
        padding: 1rem;

        margin-right: 0.75rem;
        
        .applicant{
            display: flex;
            margin-bottom: 0.25rem;

            height: 2rem;
            width: fit-content;

            align-items: center;

            border: 1px solid var(--primary-100);
            border-radius: 0.5rem;

            background-color: var(--bg-100);

            padding: 0.25rem;

            .buttons-container{
                margin-left: 3rem;

                button{
                    margin-left: 1rem;
                    max-width: 1.25rem;

                    border-color: transparent;
                    background-color: transparent;
                }
                button:hover{
                    cursor: pointer;

                    filter: brightness(80%);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                }

                .done{
                    color: green;
                }

                .close{
                    color: red;
                }
            }
        }
    }

    .conections-container{
        width: calc(30% - 1rem);
        height: calc(100%);

        padding: 1rem;
        background-color: var(--bg-200);
        border-radius: 1rem;
        border: 2px solid var(--primary-100);

        margin-left: 0.75rem;

        h3{
            color: var(--primary-100);
        }
        
        .conection{
            display: flex;
            align-items: center;

            border: 1px solid var(--primary-100);
            border-radius: 0.25rem;
            background-color: var(--bg-100);

            padding: 0.25rem;

            margin-bottom: 0.5rem;

            .separator{
                margin: 0 auto;
            }
        }
    }
}