<div class="container">
  <div class="profile">
    <div class="profile-info">
      <section class="profile-details" *ngIf="user">
        <h1>{{ user.name }} {{ user.surname }}</h1>
        <span class="rol">{{ user.degree }}</span>
        <div><span class="description">{{ user.description }}</span></div>

        <div class="education">
          <i class="ni education_hat mr-2"></i>Universitat Politecnica de Valencia
        </div>
        <div class="profile-header">
          <button class="btn btn-info">Connect</button>
          <button mat-button class="edit" *ngIf="user.id === loginService.getUserId()"
            [ngClass]="{'hidden-button': user.id !== loginService.getUserId()}">Edit Profile</button>
        </div>
      </section>
      <div class="profile-stats" *ngIf="user">
        <div>
          <span class="description">{{ user.conections.length }}</span>
          <span class="description">Connections</span>
        </div>
      </div>
      <section class="Posts" *ngIf="user">
        <mat-card-header>
          <h2>Posts</h2>
        </mat-card-header>

        <div *ngFor="let post of posts">
          <mat-card class="post-card" id="post-card" [ngStyle]="{'border-color': post.closed === true ? 'red' : 'blue'}">
            <mat-card-header class="title">
              <mat-card-title>{{post.title}}</mat-card-title>
              <button mat-button class="editar" *ngIf="user.id === loginService.getUserId() && post.closed !==true"><mat-icon>edit</mat-icon></button>
            </mat-card-header>
            <mat-card-content class="content">
              <p>
                {{post.content}}
              </p>
            </mat-card-content>
            <mat-card-actions class="actions">
              <button mat-button class="comentar">
                <mat-icon class="material-icons-outlined">comment</mat-icon>
              </button>
              
              <button mat-button class="postular" *ngIf="user.id !== loginService.getUserId() && post.closed !==true">POSTULAR</button>
                <button mat-button class="cerrar" *ngIf="user.id === loginService.getUserId() && post.closed ===false"
                (click)="onCerrarClicked(post)">CERRAR</button>

            </mat-card-actions>
            <mat-card-footer class="date">
              <small>{{post.createdAt | date:'medium'}}</small>
            </mat-card-footer>
          </mat-card>

        </div>
      </section>
      <section class="social-media" *ngIf="user">
        <mat-card-header>
          <mat-card-title>Lista de Redes Sociales</mat-card-title>
        </mat-card-header>
        <mat-card>
          <mat-card-content>
            <a href="https://www.linkedin.com/in/matiasfr"><i class="fab fa-linkedin"></i></a>
          </mat-card-content>
        </mat-card>
      </section>
      <section class="tfgurl" *ngIf="user">
        <mat-card-header>
          <mat-card-title>TFG Url</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            <a href>{{ user.tfg_url }}</a>
          </p>
        </mat-card-content>
      </section>
    </div>
  </div>
</div>
