<div class="container">
  <div class="profile">
    <div class="profile-info">
      <section class="profile-details" *ngIf="user">
        <h1>{{ user.name }} {{ user.surname }}</h1>
        <span class="rol">{{ user.degree }}</span>
        <div><span class="description">{{ user.description }}</span></div>
        
        <div class="education">
          <i class="ni education_hat mr-2"></i>Universitat Politecnica de Valencia
        </div>
        <div class="profile-header">
          <button class="btn btn-info">Connect</button>
          <button mat-button class="edit" *ngIf="user.id === loginService.getUserId()" [ngClass]="{'hidden-button': user.id !== loginService.getUserId()}">Edit Profile</button>
        </div>
      </section>
      <div class="profile-stats" *ngIf="user">
        <div>
          <span class="description">{{ user.conections.length }}</span>
          <span class="description">Connections</span>
        </div>
      </div>
      <section class="Posts" *ngIf="user">
        <mat-card-header>
          <mat-card-title>Posts</mat-card-title>
        </mat-card-header>
        <button (click)="onEditPost()">
          <mat-icon class="material-symbols-outlined">Edit Square</mat-icon>
        </button>
        <div *ngFor="let post of posts">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
          <!-- Resto de la información del post -->
        </div>
      </section>
      <section class="social-media" *ngIf="user">
        <mat-card-header>
          <mat-card-title>Lista de Redes Sociales</mat-card-title>
        </mat-card-header>
        <button (click)="onEditSocial()">
          <mat-icon class="material-symbols-outlined">Edit Square</mat-icon>
        </button>
        <mat-card>
          <mat-card-content>
            <a href="https://www.linkedin.com/in/matiasfr"><i class="fab fa-linkedin"></i></a>
          </mat-card-content>
        </mat-card>
      </section>
      <section class="tfgurl" *ngIf="user">
        <mat-card-header>
          <mat-card-title>TFG Url</mat-card-title>
        </mat-card-header>
        <button (click)="onEditTFG()">
          <mat-icon class="material-symbols-outlined">+</mat-icon>
        </button>
        <mat-card-content>
          <p>
            <a href>{{ user.tfg_url }}</a>
          </p>
        </mat-card-content>
      </section>
    </div>
  </div>
</div>
