/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #1c6e8c;
    --dark-primary-color: #274156;
    --light-primary-color: #c1dff0;

    --secondary-color: #2f97c1;
    --light-secondary-color: #d0ccd0;

    --accent-color: #605856;
    --light-accent-color: #6d5959;

    --white: #fbfcff;
    --black: #02111b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }