.main-container {
  min-width: 700px;
  max-width: 700px;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .mat-input-element textarea {
      resize: vertical;
      /* Permite que el usuario pueda redimensionar la caja de texto verticalmente */
    }

    .content {
      height: 40px;
      text-overflow: clip;
      white-space: break-spaces;
      /* Prevent text from wrapping to a new line */
    }
  }

}

.buttons {
  text-align: right;

  button {
    margin-left: 60px;
  }
}
